<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form name="tcptest" method ="POST" action="/input">
        <input type= "text" name="test" value=""/>
        <button type ="submit" name="test" value="send">전송</button>
    </form>

    <h5>
      recieveData :

      <%= data %>
    </h5>
  </body>
</html>
